body {
  background: rgb(41, 35, 53);
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: rgb(41, 1, 68);
}

.nature-1 {
  display: flex;
  justify-content: space-between;
}

img {
  height: 300px;
  width: 30%;
  margin: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
